<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\ImportToHouse\packages.config" />
  <repository path="..\Infrastructure\packages.config" />
  <repository path="..\Library\AcsLib\packages.config" />
  <repository path="..\Library\DelayTaskLib\packages.config" />
  <repository path="..\Library\HttpNotifyLib\packages.config" />
  <repository path="..\Library\RedisLib\packages.config" />
  <repository path="..\Private\PL\TC.Cloud.Private.PL.Server\packages.config" />
  <repository path="..\Private\PL\Web\packages.config" />
  <repository path="..\Private\RKE\Api\packages.config" />
  <repository path="..\Private\RKE\TC.Cloud.Private.RKE.Server\packages.config" />
  <repository path="..\Private\RKE\Web\packages.config" />
  <repository path="..\Private\TC.Cloud.Private.PubSub\packages.config" />
  <repository path="..\Private\TC.Cloud.Private.Server\packages.config" />
  <repository path="..\Private\UHome\TC.Cloud.Private.UHome.Server\packages.config" />
  <repository path="..\Private\UHome\TC.DDNS_DONET\packages.config" />
  <repository path="..\Private\UHome\Web\packages.config" />
  <repository path="..\Private\Web\packages.config" />
  <repository path="..\Public\TC.Cloud.Public.Model\packages.config" />
  <repository path="..\Public\TC.Cloud.Public.Server\packages.config" />
  <repository path="..\Public\Web\packages.config" />
  <repository path="..\Service\AcsRedisService\packages.config" />
  <repository path="..\Service\DelayTaskServer\packages.config" />
  <repository path="..\Service\HttpNotifyService\packages.config" />
  <repository path="..\Service\IDProvider\packages.config" />
  <repository path="..\Service\ParkingCenterClient\packages.config" />
  <repository path="..\Service\ParkingCenterService\packages.config" />
  <repository path="..\Service\RKEDriveService\packages.config" />
  <repository path="..\Service\RKEOnlineStateService\packages.config" />
  <repository path="..\Service\U9UnlockService\packages.config" />
  <repository path="..\Service\UcsService\packages.config" />
  <repository path="..\Service\UcsServiceV3\packages.config" />
  <repository path="..\Test\U9UnlockClient\packages.config" />
  <repository path="..\Tools\RKEMigration\packages.config" />
  <repository path="..\Tools\UcsAccountFix\packages.config" />
</repositories>